<section class="hero">
<div class=" mt-[50px] text-2xl font-semibold text-white text-center relative z-20">
    welcome to <br>
    <strong class="text-4xl bg-blue-600 rounded-lg border-r-4 border-blue-600 ">THIKA KINGS FC</strong> <br>
    <span class="text-sm font-semibold italic bg-blue-600 rounded-br-lg border-[15px] border-blue-600">the home of splendid football</span>
</div>

<div class="min-w-[300px] min-h-[300px] mt-[50px] bg-rose-600 relative z-20"></div>

<button class="absolute z-20 bottom-5 mx-auto bg-transparent bg-slate-50
  rounded-full px-10 py-1 text-blue-600 border-2 font-bold text-sm border-blue-600">learn more</button>


<div class="circle"></div>
</section>