<section class="hero">
<div class=" lg:hidden mt-[50px] text-2xl font-semibold text-white text-center relative z-20">
    welcome to <br>
    <strong class="text-4xl bg-blue-600 rounded-lg border-r-4 border-blue-600 ">THIKA KINGS FC</strong> <br>
    <span class="text-sm font-semibold italic bg-blue-600 rounded-br-lg bg-blue-600 border-[15px] border-blue-600">the home of splendid football</span>
</div>

<div class="min-w-[350px] min-h-[350px] mt-[50px] bg-rose-600/0 relative hidden
z-20 bg-cover bg-center md:min-h-[450px] md:min-w-[450px]
lg:min-w-[400px] lg:min-h-[600px]  lg:flex justify-start items-center p-2 flex-col
"
 >
<div class="text-[50px] xl:text-[70px] text-nowrap font-semibold text-white mt-20 2xl:text-[82px] 2xl:text-left ">THIKA KINGS FC</div>
<p class="text-center text-white text-3xl mt-20 2xl:mt-5 font-light bg-blue-600 p-4 rounded-md

2xl:max-w-[1000px] 2xl:text-5xl 2xl:font-thin 2xl:text-left"
style="text-shadow: rgb(29 78 216 ) 0px 0px 2px;stroke-width: 4px;"
>A football club based in Thika kenya,where we strive to play attractive  attacking possesional based football 
and we also strive to nature young  upcoming talent for the future
</p>

</div>

<div class="min-w-[350px] min-h-[350px] mt-[50px] bg-teal-600/0 relative 
z-20 bg-cover bg-center md:min-h-[450px] md:min-w-[450px]
lg:min-w-[550px] lg:min-h-[600px]"
style="background-image: url('https://firebasestorage.googleapis.com/v0/b/thikakingss.appspot.com/o/thika%20kings-01.svg?alt=media&token=02b38800-a4cf-4f44-a6da-4db513d4a2de');
 background-repeat: no-repeat ;
 "
>
  <!-- <img src="https://firebasestorage.googleapis.com/v0/b/thikakingss.appspot.com/o/thika%20kings-01.svg?alt=media&token=02b38800-a4cf-4f44-a6da-4db513d4a2de" alt=""> -->
  <!-- <div class="avatar" [style]="{ 'background-image': 'url(' +ui.authuser.profileimg + ')' }"> -->

</div>

<!-- 
<button class="absolute z-20 bottom-5 mx-auto bg-transparent bg-slate-50
  rounded-full px-10 py-1 text-blue-600 border-2 font-bold text-sm border-blue-600">learn more</button> -->


<div class="circle"></div>
<div class="box"></div>
</section>