<app-nav></app-nav>

<section class="main">
   <div class="statsnav ">
    <div [ngClass]="{activetab:active==1}" (click)="activetab(1)">player stats</div>
    <div [ngClass]="{activetab:active==2}" (click)="activetab(2)">Results</div>
    <div [ngClass]="{activetab:active==3}" (click)="activetab(3)">upcoming fixtures</div>
    <div [ngClass]="{activetab:active==4}" (click)="activetab(4)" >Media</div>

   </div>

<section [ngClass]="{tab:active==1,hidden:active!=1}" >

    <ng-container *ngFor="let player of playerdata.playerprofiles;let i=index" >
   <!-- {{playerdata.playerprofiles|json}} -->
    <h1 *ngIf="player.position=='GK'&&i==0">goalkeepers</h1>
    <div class="playerstat" *ngIf="player.position=='GK'" >
    <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
    <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
            <div class="stats">
              <div class="stat">
                  <span>{{player.playername}} </span>
        <span>{{player.position}}</span></div>

        <div class="stat">
            <span>apps:{{player.app}} </span>
            <span>clean sheet(s):{{player.cleansheet}}</span></div>
   

</div>
</div>
    <h1 *ngIf="player.position=='LB'&&i==3">Defenders</h1>
    <div class="playerstat" *ngIf="player.position=='LB'" >
        <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
        <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                <div class="stats">
                  <div class="stat">
                      <span>{{player.playername}} </span>
            <span >{{player.position}}</span></div>
    
            <div class="stat">
                <span>apps:{{player.app}} </span>
                <span>goals:{{player.goals}} </span>
                <span>goals:{{player.assists}} </span>
            </div>
       
    
    </div>
    </div>
    <div class="playerstat" *ngIf="player.position=='CB'" >
        <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
        <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                <div class="stats">
                  <div class="stat">
                      <span>{{player.playername}} </span>
            <span>{{player.position}}</span></div>
    
            <div class="stat">
                <span>apps:{{player.app}} </span>
                <span>goals:{{player.goals}} </span>
                <span>goals:{{player.assists}} </span>
            </div>
       
    
    </div>
    </div>
    <div class="playerstat" *ngIf="player.position=='RB'" >
        <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
        <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                <div class="stats">
                  <div class="stat">
                      <span>{{player.playername}} </span>
            <span>{{player.position}}</span></div>
    
            <div class="stat">
                <span>apps:{{player.app}} </span>
                <span>goals:{{player.goals}} </span>
                <span>goals:{{player.assists}} </span>
            </div>
       
    
    </div>
    </div>
    <h1 *ngIf="player.position=='CDM'&&i==11">Midfielders</h1>
    <div class="playerstat" *ngIf="player.position=='CDM'" >
        <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
        <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                <div class="stats">
                  <div class="stat">
                      <span>{{player.playername}} </span>
            <span>{{player.position}}</span></div>
    
            <div class="stat">
                <span>apps:{{player.app}} </span>
                <span>goals:{{player.goals}} </span>
                <span>goals:{{player.assists}} </span>
             
            </div>
       
    
    </div>
    </div>
  
    <div class="playerstat" *ngIf="player.position=='AMF'" >
        <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
        <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                <div class="stats">
                  <div class="stat">
                      <span>{{player.playername}} </span>
            <span>{{player.position}}</span></div>
    
            <div class="stat">
                <span>apps:{{player.app}} </span>
                <span>goals:{{player.goals}} </span>
                <span>goals:{{player.assists}} </span>
             
            </div>
       
    
    </div>
    </div>
    <h1 *ngIf="player.position=='LWF'&&i==17">Attackers</h1>
    <div class="playerstat" *ngIf="player.position=='LWF'" >
        <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
        <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                <div class="stats">
                  <div class="stat">
                      <span>{{player.playername}} </span>
            <span>{{player.position}}</span></div>
    
            <div class="stat">
                <span>apps:{{player.app}} </span>
                <span>goals:{{player.goals}} </span>
                <span>goals:{{player.assists}} </span>
             
            </div>
       
    
    </div>
    </div>
    <div class="playerstat" *ngIf="player.position=='RWF'" >
        <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
        <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                <div class="stats">
                  <div class="stat">
                      <span>{{player.playername}} </span>
            <span>{{player.position}}</span></div>
    
            <div class="stat">
                <span>apps:{{player.app}} </span>
                <span>goals:{{player.goals}} </span>
                <span>goals:{{player.assists}} </span>
             
            </div>
       
    
    </div>
    </div>
    <div class="playerstat" *ngIf="player.position=='CF'" >
        <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
        <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                <div class="stats">
                  <div class="stat">
                      <span>{{player.playername}} </span>
            <span>{{player.position}}</span></div>
    
            <div class="stat">
                <span>apps:{{player.app}} </span>
                <span>goals:{{player.goals}} </span>
                <span>goals:{{player.assists}} </span>
             
            </div>
       
    
    </div>
    </div>
</ng-container>
</section>
<section [ngClass]="{tab:active==2,hidden:active!=2}" >
<div class="resultsbar">
<div>Home</div>
<div>result</div>
<div>Away</div>
</div>
<div class="results">
    <div class="matches" *ngFor="let games of [].constructor(15)">

        <div class="team home">Thika Kings</div>
        <div class="score">1-1</div>
        <div class="team">Terror Squad</div>
        <div class="location">Thika ymca grounds - 02.12.2023</div>
        
    </div>
</div>
</section>
<section [ngClass]="{tab:active==3,hidden:active!=3}" >

    <div class="resultsbar">
        <div>Home</div>
        <div></div>
        <div>Away</div>
        </div>
        <div class="results">
            <div class="matches" *ngFor="let games of [].constructor(15)">
        
                <div class="team home">Thika Kings</div>
                <div class="score">-</div>
                <div class="team">Terror Squad</div>
                <div class="location">Thika ymca grounds - 02.12.2023</div>
                
            </div>
        </div>

</section>
<section [ngClass]="{tab:active==4,hidden:active!=4}" class="mediacontainer">
<div class="resultsbar mediaresult" >
 
    <select   formControlName="category" placeholder="select category">
        <optgroup>
          <option  style="font-size: 18px; text-align: center;" *ngFor="let category of seasons"
            value="{{category}}">season: {{category}}</option>
       
        </optgroup>
 


      </select>
</div>
<div class="media" *ngFor="let media of [].constructor(7)">
    <div class="overlay">
        <div class="results mtop">Thika kings 1-0 waves fc</div>
        <div class="results grounds">Thika YMCA grounds</div>
        <div class="date">(02.12.2023)</div>
    </div>
</div>



</section>

<section class="desktopview">

<div class="sidenav">
<div class="header">23/24 player stats</div>

<ng-container *ngFor="let player of playerdata.playerprofiles;let i=index" >
    <!-- {{playerdata.playerprofiles|json}} -->
     <h1 *ngIf="player.position=='GK'&&i==0">goalkeepers</h1>
     <div class="sidenavplayerstat" *ngIf="player.position=='GK'" >
     <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
     <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
             <div class="stats">
               <div class="stat">
                   <span>{{player.playername}} </span>
         <div class="pos">{{player.position}}</div></div>
 
         <div class="stat">
             <span>apps:{{player.app}} </span>
             <span>clean sheet(s):{{player.cleansheet}}</span></div>
    
 
 </div>
 </div>
     <h1 *ngIf="player.position=='LB'&&i==3">Defenders</h1>
     <div class="sidenavplayerstat" *ngIf="player.position=='LB'" >
         <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
         <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                 <div class="stats">
                   <div class="stat">
                       <span>{{player.playername}} </span>
             <div class="pos">{{player.position}}</div></div>
     
             <div class="stat">
                 <span>apps:{{player.app}} </span>
                 <span>goals:{{player.goals}} </span>
                 <span>goals:{{player.assists}} </span>
             </div>
        
     
     </div>
     </div>
     <div class="sidenavplayerstat" *ngIf="player.position=='CB'" >
         <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
         <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                 <div class="stats">
                   <div class="stat">
                       <span>{{player.playername}} </span>
             <div class="pos">{{player.position}}</div></div>
     
             <div class="stat">
                 <span>apps:{{player.app}} </span>
                 <span>goals:{{player.goals}} </span>
                 <span>goals:{{player.assists}} </span>
             </div>
        
     
     </div>
     </div>
     <div class="sidenavplayerstat" *ngIf="player.position=='RB'" >
         <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
         <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                 <div class="stats">
                   <div class="stat">
                       <span>{{player.playername}} </span>
             <div class="pos">{{player.position}}</div></div>
     
             <div class="stat">
                 <span>apps:{{player.app}} </span>
                 <span>goals:{{player.goals}} </span>
                 <span>goals:{{player.assists}} </span>
             </div>
        
     
     </div>
     </div>
     <h1 *ngIf="player.position=='CDM'&&i==11">Midfielders</h1>
     <div class="sidenavplayerstat" *ngIf="player.position=='CDM'" >
         <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
         <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                 <div class="stats">
                   <div class="stat">
                       <span>{{player.playername}} </span>
             <div class="pos">{{player.position}}</div></div>
     
             <div class="stat">
                 <span>apps:{{player.app}} </span>
                 <span>goals:{{player.goals}} </span>
                 <span>goals:{{player.assists}} </span>
              
             </div>
        
     
     </div>
     </div>
   
     <div class="sidenavplayerstat" *ngIf="player.position=='AMF'" >
         <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
         <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                 <div class="stats">
                   <div class="stat">
                       <span>{{player.playername}} </span>
             <div class="pos">{{player.position}}</div></div>
     
             <div class="stat">
                 <span>apps:{{player.app}} </span>
                 <span>goals:{{player.goals}} </span>
                 <span>goals:{{player.assists}} </span>
              
             </div>
        
     
     </div>
     </div>
     <h1 *ngIf="player.position=='LWF'&&i==17">Attackers</h1>
     <div class="sidenavplayerstat" *ngIf="player.position=='LWF'" >
         <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
         <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                 <div class="stats">
                   <div class="stat">
                       <span>{{player.playername}} </span>
             <div class="pos">{{player.position}}</div></div>
     
             <div class="stat">
                 <span>apps:{{player.app}} </span>
                 <span>goals:{{player.goals}} </span>
                 <span>goals:{{player.assists}} </span>
              
             </div>
        
     
     </div>
     </div>
     <div class="sidenavplayerstat" *ngIf="player.position=='RWF'" >
         <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
         <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                 <div class="stats">
                   <div class="stat">
                       <span>{{player.playername}} </span>
             <div class="pos">{{player.position}}</div></div>
     
             <div class="stat">
                 <span>apps:{{player.app}} </span>
                 <span>goals:{{player.goals}} </span>
                 <span>goals:{{player.assists}} </span>
              
             </div>
        
     
     </div>
     </div>
     <div class="sidenavplayerstat" *ngIf="player.position=='CF'" >
         <div (click)="openplayerprofile(player)" class="overlay">view player profile</div>
         <div class="avatar" [style]="{ 'background-image': 'url(' +player.profileimage + ')' }"></div>
                 <div class="stats">
                   <div class="stat">
                       <span>{{player.playername}} </span>
             <div class="pos">{{player.position}}</div></div>
     
             <div class="stat">
                 <span>apps:{{player.app}} </span>
                 <span>goals:{{player.goals}} </span>
                 <span>goals:{{player.assists}} </span>
              
             </div>
        
     
     </div>
     </div>
 </ng-container>
</div>
    <div class="Matchstatsdesktop">
        <div class="matchtabs">
        <div class="tabs">results</div>
        <div class="tabs">upcomig fixtures</div>

        </div>

        <div class="matchdetails">
            <div class="matches" *ngFor="let games of [].constructor(15)">

                <div class="team home">Thika Kings</div>
                <div class="score">1-1</div>
                <div class="team">Terror Squad</div>
                <div class="location">Thika ymca grounds - 02.12.2023</div>
                
            </div>
        </div>
        <div class="matchdetails">
            <div class="matches" *ngFor="let games of [].constructor(15)">
        
                <div class="team home">Thika Kings</div>
                <div class="score">-</div>
                <div class="team">Terror Squad</div>
                <div class="location">Thika ymca grounds - 02.12.2023</div>
                
            </div>
        </div>

    </div>
    <div class="medialg">
        <div class="desktopmedianav">

            <h1>Team Media</h1>
        </div>
        <div class="media" *ngFor="let media of [].constructor(7)">
            <div class="overlay">
                <div class="results mtop">Thika kings 1-0 waves fc</div>
                <div class="results grounds">Thika YMCA grounds</div>
                <div class="date">(02.12.2023)</div>
            </div>
        </div>
    </div>

</section>

<app-playerprofile *ngIf="ui.openprofile()"></app-playerprofile>
