.main{
    @apply w-full min-h-screen bg-slate-200 z-50 pt-[50px] fixed top-0 flex justify-start items-stretch flex-col
}

.statsnav{
    @apply min-w-full flex justify-start items-center 
     overflow-x-scroll min-h-[55px] bg-blue-600 
     sm:justify-center z-[100] lg:hidden
     ;
    div{
        @apply min-w-[150px] text-center text-white h-[50px] 
        box-border pt-3 hover:font-semibold
        cursor-pointer drop-shadow-lg mb-1
        lg:hidden 
    }

    .activetab{
        @apply border-b-white border-b-[5px] font-semibold
    }
}

.tab{
    @apply min-w-full overflow-y-scroll
     fixed min-h-[calc(100vh-110px)]
      max-h-screen  bottom-0 px-2 pt-0
    relative
      lg:hidden;
h1{
    @apply font-semibold mb-2 text-slate-900 sm:text-lg sm:text-center
}
      .playerstat{
        @apply w-full min-h-[75px] mb-5 px-2 box-border
        bg-white drop-shadow-lg flex justify-start items-center gap-2 mx-auto
        sm:max-w-[450px]
        ;

        .avatar{
            @apply min-w-[70px] min-h-[70px] bg-rose-700 rounded-full
            bg-cover bg-center overflow-hidden
        }
        .stats{
            @apply flex-grow min-h-[70px]
             text-slate-900 font-light flex flex-col
              justify-center items-start;
            .stat{
                @apply  flex justify-start
                min-w-full  pl-5 gap-5
            }
        }
      }


      .resultsbar{
        @apply w-full min-h-[50px] bg-orange-50
        justify-evenly items-center
        drop-shadow-lg
        flex sticky top-[-0px] px-2
        mx-auto
        z-50
        sm:max-w-[500px]
        ;
        select{
            @apply w-full h-[30px] bg-slate-50
        }
      }
.mediaresult{
    @apply sm:min-w-[calc(100vw-10%)]
}
      .matches{
        @apply  w-full min-h-[60px] bg-orange-50 my-2
        justify-evenly flex-wrap items-center flex text-slate-950
        mx-auto
        sm:max-w-[500px]
        ;
        .winner{
            @apply font-semibold
        }
        .home{
            @apply text-teal-600
        }
        .score{
            @apply text-blue-600 text-lg
        }
        .team{
            @apply font-normal
        }
        .location{
            @apply block min-w-full font-light text-xs text-center
        }
      }


      .media{
        @apply w-full max-w-[300px] mx-auto min-h-[300px] rounded-md
        bg-white drop-shadow-lg my-2 relative;
        .overlay{
            @apply absolute top-0 left-0 right-0 bottom-0
            bg-black/60 flex-col justify-center flex
          cursor-pointer z-40
            p-2
             ;
             .mtop{
                @apply mt-auto
             }
             .results{
                @apply text-lg font-semibold text-white
             }
             .grounds{
                @apply font-normal italic text-base
             }
             .date{
                @apply  italic text-xs text-white
                font-semibold
             } 
        }
      }
     
}
.mediacontainer{
    @apply sm:flex-row sm:flex-wrap pb-[125px]
    
    sm:flex 
    
    lg:hidden
}

.desktopview{
    @apply min-w-full h-screen  max-h-[calc(100vh-50px)] bg-slate-200 hidden
      justify-center items-start  gap-5 px-2 relative flex-wrap overflow-y-scroll

      lg:flex py-[10px]

      xl:justify-center
}

.desktopviewtabs{
    @apply w-full flex-grow bg-slate-50 rounded-sm drop-shadow-xl h-screen 
    max-h-[calc(100vh-100px)] overflow-y-scroll  

    lg:max-w-[600px]
    xl:max-w-[800px]
}

.sidenav{
    @apply  w-full max-w-[400px] h-screen
     bg-slate-50 drop-shadow-xl   max-h-[calc(100vh-100px)]
    flex justify-start flex-col items-stretch 
    overflow-y-scroll relative pt-[55px]
    ;
    position: relative !important;
    .header{
        @apply min-h-[50px] bg-blue-600 w-full
        text-lg font-semibold text-white text-left px-2
        pt-2 absolute top-0
       
    }
    h1{
        @apply pl-2 my-2 text-blue-600
    }
  
    .sidenavplayerstat{
        @apply w-full 
        lg:max-w-[calc(400px-16px)] 
        min-h-[75px] mb-5 px-2 box-border
        bg-white drop-shadow-lg flex 
        justify-start items-center gap-2 mx-auto
        sm:max-w-[450px] 
        ;

        .avatar{
            @apply min-w-[70px] min-h-[70px] bg-rose-700 rounded-full
            bg-cover bg-center overflow-hidden
        }
        .stats{
            @apply flex-grow min-h-[70px]
             text-slate-900 font-light flex flex-col
              justify-center items-start;
            .stat{
                @apply  flex justify-start
                min-w-full  pl-5 gap-5
            }
        }
      }
}

.medialg{
    @apply flex-grow min-h-[calc(100vh-100px)]  bg-slate-50 drop-shadow-xl  w-full max-w-[1020px] xl:max-w-[1220px]
}
