<div class="management">
<h1>Meet the Management</h1>
    <div class="member">
        <div class="avatar"></div>
        <div class="title">
          kevin mwatha <br>
        <span>Chairman</span>
        </div>
        <div class="statement">
           " Lorem, ipsum dolor sit amet
            consectetur adipisicing elit.
             Hic, rem."
        </div>
    </div>
  
    <div class="member">
        <div class="avatar"></div>
        <div class="title">
          Solomon Kamande <br>
          <span>Treasurer</span>
        
        </div>
        <div class="statement">
           " Lorem, ipsum dolor sit amet
            consectetur adipisicing elit.
             Hic, rem."
        </div>
    </div>
    <div class="member">
        <div class="avatar"></div>
        <div class="title">
         Douglas Chege <br>
          <span>Head Coach</span>
        
        </div>
        <div class="statement">
           " Lorem, ipsum dolor sit amet
            consectetur adipisicing elit.
             Hic, rem."
        </div>
    </div>

    <div class="member">
        <div class="avatar"></div>
        <div class="title">
          Joshua Flora <br>
          <span>Assnt. Coach</span>
        
        </div>
        <div class="statement">
           " Lorem, ipsum dolor sit amet
            consectetur adipisicing elit.
             Hic, rem."
        </div>
    </div>
</div>