section{
    @apply min-w-full min-h-screen h-fit
     bg-slate-200 flex justify-start items-center flex-col 
  px-2  overflow-y-scroll pb-[50px]
    lg:flex-row lg:justify-center lg:items-start lg:flex-wrap lg:gap-x-4

    xl:px-[calc(100vw-90%)]
}

.nav{
    @apply w-full min-h-[100px] h-fit
     p-2 flex justify-start relative
     items-center gap-5 flex-row;
     .logo{
        @apply w-[75px] h-[75px] bg-pink-600;
     
    }

     .teamname{
        @apply text-lg text-blue-600 ml-auto mr-auto text-center
        font-bold lg:text-3xl lg:font-semibold
    }
}



.card{
    @apply w-full px-1 flex flex-col 
    justify-evenly items-center min-h-[135px] 
     border-b-2 border-blue-600/20 bg-white my-3 drop-shadow-lg rounded-md relative
     sm:max-w-[500px]
     md:max-w-[550px]
     lg:max-w-[300px] lg:min-h-[300px]  lg:items-start
     
     ;

     .overlay{
        @apply w-full h-[inherit] absolute top-0 left-0 right-0
        opacity-0
        bottom-0 bg-white/80 cursor-pointer text-center
        text-teal-700 font-semibold hover:opacity-100 drop-shadow-xl rounded-md
      lg:text-xl
        flex justify-center items-center
    }

     .bio{
        @apply flex w-full justify-evenly
        items-center p-1   lg:flex-wrap;
        .bioicon{
            @apply w-[75px] h-[75px] 
            rounded-md overflow-hidden bg-cover bg-emerald-500
            lg:w-[300px] lg:h-[225px] lg:mb-2
        }
    
        .name{
            @apply text-sm font-semibold text-slate-900 
        }
    
        .age{
            @apply text-sm font-semibold text-blue-600 
        }
    }

    .stats{
        @apply flex w-full justify-evenly min-h-[50px]
        items-center p-1 ;
         .stat{
            @apply text-sm font-semibold 
            text-blue-600 
         }
    }

   

}
.playerprofile{
    @apply min-w-full min-h-screen fixed top-0 z-[500] bg-black/30 flex justify-center items-center;
    .panel{
        @apply w-full max-w-[350px] min-h-[80vh] gap-y-2 flex flex-col justify-start items-center bg-white drop-shadow-lg rounded-md relative ;
        .img{
            @apply w-full min-h-[300px] bg-teal-500
        }
        // .profileheading{
        //     @apply min-w-[150px] min-h-[50px] rounded-r-full bg-red-400 pt-2 pl-2 mr-auto -translate-y-10
        // }
        .playerstats{
            @apply w-full min-h-[30px] px-2 flex justify-start items-center;
            div{
                @apply text-blue-600 mr-2 min-w-[100px]
            }
            button{
                @apply mx-auto min-w-[150px] min-h-[35px] text-white font-semibold rounded-full bg-blue-600
            }
        }
    }
}
.close{
    @apply rotate-45 absolute top-1 right-1 cursor-pointer  min-w-[30px] min-h-[30px]
     lg:right-[calc(100vw-90%)] lg:top-[50%] lg:translate-y-[-50%] lg:w-[40px] lg:h-[40px]
  }

