<section >
<div class="nav">

    <div class="teamnav min-w-full flex flex-wrap pt-5">
        
        <div class="teamname lg:text-3xl block w-full">MEET THE TEAM</div>
        <div class="teamname">Thika kings 23/24 season</div>

    </div>



</div>


<div *ngFor="let card of [].constructor(24) let i=index" class="card">
<div class="overlay" (click)="openuserprofile()">
    <span>view profile</span>
</div>
<div class="bio ">
    <div class="bioicon"></div>
    <span class="name"> peter njoroge</span>
    <span class="age"> age:23 </span>
</div>
<div class="stats ">

    <span class="stat ">position: <span class="text-slate-950">Gk</span> </span>
    <span class="stat ">foot: <span class="text-slate-950">right</span></span>
    <span class="stat ">height: <span class="text-slate-950">6ft 2"</span></span>
</div>
   
</div>


<div class="playerprofile" *ngIf="ui.openprofile()">

    <div class="panel">
        <div class="img"></div>
        <!-- <div class="profileheading">player profile</div> -->
        <div class="playerstats"><div>name</div> jeremy doku</div>
        <div class="playerstats"><div>position</div> CF</div>
        <div class="playerstats"><div>age</div> 23yrs </div>
        <div class="playerstats"><div>foot</div> right </div>
        <div class="playerstats"><div>height</div> 6ft 3"</div>
        <div class="playerstats mt-auto mb-3">

            <button (click)="closeuserprofile()" >close</button>
        </div>



    </div>

</div>
</section>
