<section >
<div class="nav">

<div class="logo"></div> 
<div class="teamname">Thika kings 23/24 season</div>

<svg (click)="closeteamview()" class="close" xmlns="http://www.w3.org/2000/svg"
width="24" height="24" viewBox="0 0 24 24"
style="fill: rgba(37 99 235)">
<path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path>
</svg>

</div>


<div *ngFor="let card of [].constructor(24) let i=index" class="card">
    <!-- <div class="sectiontitle" *ngIf="i==0">Goal keepers</div>
    <div class="sectiontitle" *ngIf="i==3">Defenders</div>
    <div class="sectiontitle" *ngIf="i==12">Midfielders</div>
    <div class="sectiontitle" *ngIf="i==19">Forwards</div> -->
<div class="bio ">
    <div class="bioicon"></div>
    <span class="name"> peter njoroge</span>
    <span class="age"> age:23 </span>
</div>
<div class="stats ">

    <span class="stat ">position: <span class="text-slate-950">Gk</span> </span>
    <span class="stat ">foot: <span class="text-slate-950">right</span></span>
    <span class="stat ">height: <span class="text-slate-950">6ft 2"</span></span>
</div>
   
</div>

</section>