<section >
<div class="nav">

    <div class="teamnav min-w-full flex flex-wrap pt-5">
        
        <div class="teamname lg:text-3xl block w-full">MEET THE TEAM</div>
        <div class="teamname">Thika kings 23/24 season</div>

    </div>



</div>


<div *ngFor="let player of playerdata.playerprofiles; let i=index" class="card">
<div class="overlay" (click)="openuserprofile(player)">
    <span>view profile</span>
</div>
<div class="bio ">
    <div class="bioicon"></div>
    <span class="name"> {{player.playername}}</span>
    <span class="age"> age:{{player.age}} </span>
</div>
<div class="stats ">

    <span class="stat ">position: <span class="text-slate-950">{{player.position}}</span> </span>
    <span class="stat ">foot: <span class="text-slate-950">{{player.foot}}</span></span>
    <span class="stat ">height: <span class="text-slate-950">{{player.height}}</span></span>
</div>
   
</div>


<app-playerprofile *ngIf="ui.openprofile()"></app-playerprofile>
</section>
