section{
    @apply fixed z-[70] min-w-full max-h-screen
     bg-slate-200 flex justify-start items-center flex-col 
    top-0 px-2  overflow-y-scroll
    lg:flex-row lg:justify-center lg:items-start lg:flex-wrap lg:gap-x-4

    xl:px-[calc(100vw-90%)]
}

.nav{
    @apply w-full min-h-[100px] h-fit
     p-2 flex justify-start
     items-center gap-5 flex-row;
     .logo{
        @apply w-[75px] h-[75px] bg-pink-600;
     
    }

     .teamname{
        @apply text-lg text-blue-600 ml-auto mr-auto text-center
        font-bold lg:text-3xl lg:font-semibold
    }
}



.card{
    @apply w-full px-1 flex flex-col 
    justify-evenly items-center min-h-[135px] 
     border-b-2 border-blue-600/20 bg-white my-3 drop-shadow-lg rounded-md relative
     sm:max-w-[500px]
     md:max-w-[550px]
     lg:max-w-[300px] lg:min-h-[300px]  lg:items-start
     
     ;

 

     .bio{
        @apply flex w-full justify-evenly
        items-center p-1   lg:flex-wrap;
        .bioicon{
            @apply w-[75px] h-[75px] 
            rounded-md overflow-hidden bg-cover bg-emerald-500
            lg:w-[300px] lg:h-[225px] lg:mb-2
        }
    
        .name{
            @apply text-sm font-semibold text-slate-900 
        }
    
        .age{
            @apply text-sm font-semibold text-blue-600 
        }
    }

    .stats{
        @apply flex w-full justify-evenly min-h-[50px]
        items-center p-1 ;
         .stat{
            @apply text-sm font-semibold 
            text-blue-600 
         }
    }

}



