<nav class="nav">
    <span class="cursor-pointer" routerLink="/">Thika Kings FC</span>
<svg *ngIf="navi.currentroute=='/'"  (click)="openmobilemenu()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255 255 255);"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>

<div class="navmenu " [ngClass]="{opennav: mobilemenustate==1,closenav:mobilemenustate==2}">
  
       

        <div (click)="navigate('team')">The Team</div>
        <div  (click)="navigate('management')">management</div>
        <div  (click)="navigate('contactus')">contact us</div>
        <div (click)="navigatetoteamnews()" >Team news</div>

 
</div>
    <ul *ngIf="navi.disablenavlinks()==false">

        <li (click)="navigationscroll('team')">The Team</li>
        <li (click)="navigationscroll('management')">management</li>
        <li (click)="navigationscroll('contactus')">Contact us</li>
        <li class="teamnews"  routerLink="/teamstats" >Team News</li>

        <!-- <li >Team news</li> -->
    </ul>
</nav>
