<div class="playerprofile" >

    <div class="panel">
        <div class="imgprofile"></div>
        <div class="imgfull"></div>
        <!-- <div class="profileheading">player profile</div> -->
        <div class="statsholder">
<div class="title"> <div class="logo"></div> <span>Thika Kings FC 23/24 div II roster</span></div>
            <div class="playerstats"><div>name</div> {{playerdata.player.playername}}</div>
            <div class="playerstats"><div>position</div> {{playerdata.player.position}}</div>
            <div class="playerstats"><div>age</div> {{playerdata.player.age}} </div>
            <div class="playerstats"><div>height</div> {{playerdata.player.height}}</div>
            <div class="playerstats"><div>foot</div> {{playerdata.player.foot}} </div>
            <ng-container *ngIf="navigation.currentroute!=='/'">
                <div class="playerstats"><div>apps</div> {{playerdata.player.app}} </div>
                <div class="playerstats"><div>sub apps</div> {{playerdata.player.sub}} </div>
            <ng-container *ngIf="playerdata.player.position!='GK'" >
                <div  class="playerstats"><div>Goals</div> {{playerdata.player.goals}}</div>
                <div class="playerstats"><div>Assists</div> {{playerdata.player.assists}}</div>
            </ng-container>
            <ng-container *ngIf="playerdata.player.position=='GK'" >
                <div *ngIf="playerdata.player.position=='GK'" class="playerstats"><div>cleansheet(s)</div> {{playerdata.player.height}}</div>
            </ng-container>

         </ng-container>


            <div class="playerstats mt-auto mb-3 md:mt-[100px]">
    
                <button (click)="closeuserprofile()" >close</button>
        </div>
        </div>



    </div>

</div>
