.playerprofile{
    @apply min-w-full min-h-screen fixed top-0 z-[500] bg-black/30 flex justify-center items-center left-0 right-0 bottom-0;
    .panel{
        @apply w-full max-w-[350px] min-h-[80vh] gap-y-2 flex flex-col
         justify-start items-center bg-white drop-shadow-lg rounded-md relative
         sm:max-w-[450px] md:flex-row md:max-w-[700px] lg:max-w-[950px]
         ;
        .img{
            @apply w-full min-h-[300px] bg-teal-500 md:max-w-[300px] md:min-h-[80vh] lg:max-w-[400px]
        }
        // .profileheading{
        //     @apply min-w-[150px] min-h-[50px] rounded-r-full bg-red-400 pt-2 pl-2 mr-auto -translate-y-10
        // }

        .statsholder{
            @apply w-full md:w-[395px] md:justify-center lg:w-[550px] md:min-h-[80vh]  flex-grow flex justify-start items-start
            flex-col
        }
     
        .playerstats{
            @apply min-w-full min-h-[30px] px-2 flex justify-start items-center 
            md:min-h-[50px] md:text-lg lg:text-2xl  lg:font-light  md:pl-5
            ;
            div{
                @apply text-blue-600 mr-2 min-w-[100px]
            }
            button{
                @apply mx-auto min-w-[150px] min-h-[35px] text-white font-semibold rounded-full bg-blue-600 md:mx-0
                lg:font-light
               
            }
        }
    }
}